living Windows
{{#each windows}}
    <div class="window">
        <h4 class="displayWindowId">Winodow id: <span class="windowId">{{id}}</span></h4>
        <ul class="tabs">
            {{#each tabs}}
                <li class="tab">{{title}}</li>
            {{/each}}
        </ul>
    </div>
{{/each}}
