living Windows
{{#each windows}}
    <div>
        id: <span>{{id}}</span>
        <ul>
            {{#each tabs}}
                <li>{{title}}</li>
            {{/each}}
        </ul>
    </div>
{{/each}}
