<div class="scroll">
    <input type="button" class="left" value="←left">
    <input type="button" class="down" value="down↓">
    <input type="button" class="up" value="↑up">
    <input type="button" class="right" value="right→">
</div>
<div class="resize">
    <input type="button" class="compressWidth" value="←compressWidth">
    <input type="button" class="expandWidth" value="expandWidth→">
    <input type="button" class="compressHeight" value="↑compressHeight">
    <input type="button" class="expandHeight" value="expandHeight↓">
</div>
