<div class="scroll">
    <input type="image" src="../img/allow_left.png" alt="left" class="left" value="←left">
    <input type="image" src="../img/allow_down.png" alt="down" class="down" value="down↓">
    <input type="image" src="../img/allow_up.png" alt="up" class="up" value="↑up">
    <input type="image" src="../img/allow_right.png" alt="right" class="right" value="right→">
</div>
<div class="resize">
    <input type="image" src="../img/compress_width.png" alt="compressWidth" class="compressWidth" value="←compressWidth">
    <input type="image" src="../img/expand_width.png" alt="expandWidth" class="expandWidth" value="expandWidth→">
    <input type="image" src="../img/compress_height.png" alt="compressHeight" class="compressHeight" value="↑compressHeight">
    <input type="image" src="../img/expand_height.png" alt="expandHeight" class="expandHeight" value="expandHeight↓">
</div>
